<%= form_with model: @link, url: links_path, method: :post, data: { turbo: false } do |f| %>
<%= f.text_field :original_url, placeholder: 'Place url here...' %>
<%= f.submit 'Generate code' %>
<% end %>

<div>
<% if flash[:error].present? %>
  <%= flash[:error] %>
<% end %>
</div>

<% if @links.present? %>
<div>
    <% @links.each do |link| %>
        <ul class="list">
            <li><%= link.original_url %> </li>
            <li><%= link.url_short %> </li>
            <li><%= link.click_count %> </li>
            <li><%= link.click_count %> </li>
        </ul>   
    <% end %>
<% end %>
</div>