<%= form_with model: @link, url: links_path, method: :post, data: { turbo: false } do |f| %>
<%= f.text_field :original_url, placeholder: 'Place url here...' %>
<%= f.submit 'Generate code' %>
<% end %>

<div>
<% if flash[:error].present? %>
  <%= flash[:error] %>
<% end %>
</div>

<% if @links.present? %>
<div>
    <% @links.each do |link| %>
        <ul class="list">
            <li><%= link.original_url %> </li>
            <li>
            <%= form_with model: @click, url: link_clicks_path(link), method: :post, data: { turbo: false } do |f|%>
                <%= f.submit link.url_short %>
            <% end %> 
            </li>
            <li><%= link.click_count %> </li>
            <li><%= @browser.to_s %> </li>
        </ul>   
    <% end %>
<% end %>
</div>


<div class="metrics-panel">
  <%= render 'partials/clicks_per_day_chart' %>
  <%# <%= render 'browser_platform_breakdown_chart' %>
</div>
